@use '../../sass/' as *;

.portfolio__data {
    padding: 1.5rem;
    background-color: var(--container-color);
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.portfolio__card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__img img{
    width: 650px;
    border-radius: 1.25rem;
    margin-bottom: var(--mb-1);
}

.portfolio__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.portfolio__button {
    display: inline-block;
    font-size: var(--small-font-size);
    transition: all 0.3s ease-in-out;
    &:hover {
        color: var(--title-color-dark);
    }
}

.portfolio__github-icon {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .portfolio__data {
        width: max-content;
        padding: 0.75rem;
    }

    .portfolio__img img {
        width: 340px;
        border-radius: 1rem;
        margin-bottom: 0;
    }   

    .portfolio__title {
        font-size: var(--h2-font-size);
    }

    .portfolio__button {
        font-size: var(--normal-font-size);
    }
}
