@use '../../sass/' as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    &__logo,
    &__toggle {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    &__list {
        display: flex;
        column-gap: 2rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);
        transition: .3s;
    }

    &__icon,
    &__close,
    &__toggle {
        display: none;
    }
}

.active-link,
.nav__link:hover {
    color: var(--title-color-dark);
} 

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);

        &__menu {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            background-color: var(--body-color);
            padding: 2rem 1.5rem 4rem;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 1.5rem 1.5rem 0 0;
            transition: .3s;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid: 2rem;
        }

        &__icon {
            font-size: 1.2rem;
        }

        &__close {
            position: absolute;
            right: 1.3rem;
            bottom: 0.5rem;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--title-color);

            &:hover {
                color: var(--title-color-dark);
            }
        }

        &__toggle {
            display: block;
            font-size: 1.1rem;
            cursor: pointer;
        }

        &__icon,
        &__close,
        &__toggle {
            display: block;
        }
    }

    .show-menu {
        bottom: 0;
    }
}

@media screen and (max-width: 350px) {
    .nav {
        &__menu {
            padding: 2rem 0.25rem 4rem;
        }

        &__list {
            column-gap: 0;
        }
    }
}