@use "../../sass/" as *;

.loadingPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-color);
}

.circle-loading {
  width: 50px;
  height: 50px;
  border-radius: 99rem;
  position: relative;
  margin: 0 auto;
}

.circle-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 4px solid transparent;
  border-right-color: var(--title-color);
  border-bottom-color: var(--title-color);
  animation: circleLoading 1s forwards infinite linear;
}

@keyframes circleLoading {
  to {
    transform: rotate(360deg);
  }
}
