@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inconsolata", monospace;
  }

  ::-moz-selection {
    /* Code for Firefox */
    @apply text-whiteSoft bg-primary;
  }

  ::selection {
    @apply text-whiteSoft bg-primary;
  }

  // scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-lite dark:bg-darkbg;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-darkStroke rounded-xl;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-darkStroke;
  }

  // cắt chuỗi
  .clip-string-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

// remove reset css from tailwind
.overwrite-css h1 {
  font-size: 2rem;
}

.overwrite-css h2 {
  font-size: 1.5rem;
}

.overwrite-css h3 {
  font-size: 1.25rem;
}

.overwrite-css h4 {
  font-size: 1rem;
}

.overwrite-css h5 {
  font-size: 0.875rem;
}

.overwrite-css h6 {
  font-size: 0.75rem;
}

.overwrite-css p {
  font-size: 1rem;
}

.overwrite-css ul {
  list-style: disc;
  padding-left: 40px;
}

.overwrite-css ol {
  list-style: decimal;
  padding-left: 40px;
}

.overwrite-css li {
  font-size: 1rem;
}

.overwrite-css a {
  @apply text-primary;
  text-decoration: underline;
}