@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inconsolata", monospace;
  }

  ::-moz-selection {
    /* Code for Firefox */
    @apply text-whiteSoft bg-primary;
  }

  ::selection {
    @apply text-whiteSoft bg-primary;
  }

  // scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-lite dark:bg-darkbg;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-darkStroke rounded-xl;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-darkStroke;
  }

  // cắt chuỗi
  .clip-string-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
